## Data Cleaning On New York City Airbnb Open Data

##### This repository focuses on cleaning the New York City Airbnb Open Data to prepare it for insightful analysis. 
##### The cleaning process includes several key steps to ensure data accuracy, consistency, and reliability.

### Importing Libraries

In [35]:
import pandas as pd

### Loading the Dataset

In [37]:
df = pd.read_csv('/Users/daniellaiwagoh/Downloads/AB_NYC_2019.csv')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

### Removing Duplicate Records
#### To maintain data uniqueness, duplicate records are identified and removed using the `drop_duplicates` function.

In [39]:
df.drop_duplicates()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [41]:
df=df.drop_duplicates()
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

### Handling Missing Data
#### Missing values in the dataset are addressed by filling them with appropriate placeholders. 
#### The `last_review` column is filled with `'No Review'` for missing values, and `reviews_per_month` is set to `0` where data is unavailable.

In [43]:
df['last_review'] = df['last_review'].fillna('No Review') 
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,No Review,0.00,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,No Review,0.00,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,No Review,0.00,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,No Review,0.00,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,No Review,0.00,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,No Review,0.00,1,23

### Duplicate Removal by ID
#### To ensure data uniqueness, duplicate records are removed based on the `id` column, retaining only the first occurrence.

In [45]:
df = df.drop_duplicates(subset=['id'], keep='first')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,No Review,0.00,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,No Review,0.00,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,No Review,0.00,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,No Review,0.00,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,No Review,0.00,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,No Review,0.00,1,23

### Removing Invalid Values
#### To ensure data accuracy, records with negative values in the `price` and `availability_365` columns are removed, keeping only valid non-negative entries.

In [47]:
df = df[(df['price'] >= 0) & (df['availability_365'] >= 0)]
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,No Review,0.00,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,No Review,0.00,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,No Review,0.00,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,No Review,0.00,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,No Review,0.00,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,No Review,0.00,1,23

### Outlier Detection and Removal
#### To prevent skewed analysis, outliers in the `price` and `minimum_nights` columns are removed by capping values at the 99th percentile.

In [49]:
df = df[df['price'] <= df['price'].quantile(0.99)]
df = df[df['minimum_nights'] <= df['minimum_nights'].quantile(0.99)]
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,No Review,0.00,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,No Review,0.00,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,No Review,0.00,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,No Review,0.00,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,No Review,0.00,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,No Review,0.00,1,23

### Standardizing Text Data
#### To ensure consistency across the dataset, the `name` and `neighbourhood` columns are standardized to title case for improved readability and uniformity.

In [51]:
df['name'] = df['name'].str.title()  
df['neighbourhood'] = df['neighbourhood'].str.title()
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,No Review,0.00,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming One Bedroom - Newly Renovated Rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,No Review,0.00,2,9
48891,36485057,Affordable Room In Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,No Review,0.00,2,36
48892,36485431,Sunny Studio At Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,No Review,0.00,1,27
48893,36485609,43Rd St. Time Square-Cozy Single Bed,30985759,Taz,Manhattan,Hell'S Kitchen,40.75751,-73.99112,Shared room,55,1,0,No Review,0.00,6,2
48894,36487245,Trendy Duplex In The Very Heart Of Hell'S Kitchen,68119814,Christophe,Manhattan,Hell'S Kitchen,40.76404,-73.98933,Private room,90,7,0,No Review,0.00,1,23

### Filtering Data by Geographic Boundaries
#### To ensure location accuracy, the dataset is filtered to retain only records within valid latitude and longitude boundaries corresponding to New York City.

In [53]:
df = df[(df['latitude'].between(40.4774, 40.9176)) & (df['longitude'].between(-74.2591, -73.7004))]
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,No Review,0.00,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming One Bedroom - Newly Renovated Rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,No Review,0.00,2,9
48891,36485057,Affordable Room In Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,No Review,0.00,2,36
48892,36485431,Sunny Studio At Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,No Review,0.00,1,27
48893,36485609,43Rd St. Time Square-Cozy Single Bed,30985759,Taz,Manhattan,Hell'S Kitchen,40.75751,-73.99112,Shared room,55,1,0,No Review,0.00,6,2
48894,36487245,Trendy Duplex In The Very Heart Of Hell'S Kitchen,68119814,Christophe,Manhattan,Hell'S Kitchen,40.76404,-73.98933,Private room,90,7,0,No Review,0.00,1,23

### Standardizing Date Formats
#### The `last_review` column is converted to a standardized datetime format, ensuring consistency and handling any invalid date entries by coercing them to `NaT`.

In [55]:
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,0.00,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming One Bedroom - Newly Renovated Rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaT,0.00,2,9
48891,36485057,Affordable Room In Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaT,0.00,2,36
48892,36485431,Sunny Studio At Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaT,0.00,1,27
48893,36485609,43Rd St. Time Square-Cozy Single Bed,30985759,Taz,Manhattan,Hell'S Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaT,0.00,6,2
48894,36487245,Trendy Duplex In The Very Heart Of Hell'S Kitchen,68119814,Christophe,Manhattan,Hell'S Kitchen,40.76404,-73.98933,Private room,90,7,0,NaT,0.00,1,23

### Exploring Dataset Structure
#### The `df.info()` function provides an overview of the dataset, including column names, data types, non-null counts, and memory usage.

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47939 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              47939 non-null  int64
 1   name                            47924 non-null  object
 2   host_id                         47939 non-null  int64
 3   host_name                       47918 non-null  object
 4   neighbourhood_group             47939 non-null  object
 5   neighbourhood                   47939 non-null  object
 6   latitude                        47939 non-null  float64
 7   longitude                       47939 non-null  float64
 8   room_type                       47939 non-null  object
 9   price                           47939 non-null  int64
 10  minimum_nights                  47939 non-null  int64
 11  number_of_reviews               47939 non-null  int64
 12  last_review                     38327 non-null  datetime64[ns]
 13  reviews_per_month               47939 non-null  float64
 14  calculated_host_listings_count  47939 non-null  int64
 15  availability_365                47939 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.2+ MB

In [59]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,0.00,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming One Bedroom - Newly Renovated Rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaT,0.00,2,9
48891,36485057,Affordable Room In Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaT,0.00,2,36
48892,36485431,Sunny Studio At Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaT,0.00,1,27
48893,36485609,43Rd St. Time Square-Cozy Single Bed,30985759,Taz,Manhattan,Hell'S Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaT,0.00,6,2
48894,36487245,Trendy Duplex In The Very Heart Of Hell'S Kitchen,68119814,Christophe,Manhattan,Hell'S Kitchen,40.76404,-73.98933,Private room,90,7,0,NaT,0.00,1,23

### Standardizing Column Names
#### To improve readability and maintain consistency, all column names are converted to title case.

In [61]:
df.columns = df.columns.str.title()
df

,Id,Name,Host_Id,Host_Name,Neighbourhood_Group,Neighbourhood,Latitude,Longitude,Room_Type,Price,Minimum_Nights,Number_Of_Reviews,Last_Review,Reviews_Per_Month,Calculated_Host_Listings_Count,Availability_365
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,0.00,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming One Bedroom - Newly Renovated Rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaT,0.00,2,9
48891,36485057,Affordable Room In Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaT,0.00,2,36
48892,36485431,Sunny Studio At Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaT,0.00,1,27
48893,36485609,43Rd St. Time Square-Cozy Single Bed,30985759,Taz,Manhattan,Hell'S Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaT,0.00,6,2
48894,36487245,Trendy Duplex In The Very Heart Of Hell'S Kitchen,68119814,Christophe,Manhattan,Hell'S Kitchen,40.76404,-73.98933,Private room,90,7,0,NaT,0.00,1,23

### Checking for Missing Data
#### The `isnull().sum()` function is used to identify missing values in each column of the dataset, helping to assess where data imputation or cleaning is needed.

In [63]:
print(df.isnull().sum())
df

Id                                   0
Name                                15
Host_Id                              0
Host_Name                           21
Neighbourhood_Group                  0
Neighbourhood                        0
Latitude                             0
Longitude                            0
Room_Type                            0
Price                                0
Minimum_Nights                       0
Number_Of_Reviews                    0
Last_Review                       9612
Reviews_Per_Month                    0
Calculated_Host_Listings_Count       0
Availability_365                     0
dtype: int64

,Id,Name,Host_Id,Host_Name,Neighbourhood_Group,Neighbourhood,Latitude,Longitude,Room_Type,Price,Minimum_Nights,Number_Of_Reviews,Last_Review,Reviews_Per_Month,Calculated_Host_Listings_Count,Availability_365
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,0.00,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming One Bedroom - Newly Renovated Rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaT,0.00,2,9
48891,36485057,Affordable Room In Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaT,0.00,2,36
48892,36485431,Sunny Studio At Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaT,0.00,1,27
48893,36485609,43Rd St. Time Square-Cozy Single Bed,30985759,Taz,Manhattan,Hell'S Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaT,0.00,6,2
48894,36487245,Trendy Duplex In The Very Heart Of Hell'S Kitchen,68119814,Christophe,Manhattan,Hell'S Kitchen,40.76404,-73.98933,Private room,90,7,0,NaT,0.00,1,23

### Missing Data Handling
#### To maintain data completeness, missing values are filled with appropriate default values:

In [65]:
df['Name'] = df['Name'].fillna('No Name')  
df['Host_Name'] = df['Host_Name'].fillna('No Host Name')  
df['Last_Review'] = df['Last_Review'].fillna('No Review')  
df['Reviews_Per_Month'] = df['Reviews_Per_Month'].fillna(0)

In [67]:
df

,Id,Name,Host_Id,Host_Name,Neighbourhood_Group,Neighbourhood,Latitude,Longitude,Room_Type,Price,Minimum_Nights,Number_Of_Reviews,Last_Review,Reviews_Per_Month,Calculated_Host_Listings_Count,Availability_365
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19 00:00:00,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21 00:00:00,0.38,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,No Review,0.00,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05 00:00:00,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19 00:00:00,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming One Bedroom - Newly Renovated Rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,No Review,0.00,2,9
48891,36485057,Affordable Room In Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,No Review,0.00,2,36
48892,36485431,Sunny Studio At Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,No Review,0.00,1,27
48893,36485609,43Rd St. Time Square-Cozy Single Bed,30985759,Taz,Manhattan,Hell'S Kitchen,40.75751,-73.99112,Shared room,55,1,0,No Review,0.00,6,2
48894,36487245,Trendy Duplex In The Very Heart Of Hell'S Kitchen,68119814,Christophe,Manhattan,Hell'S Kitchen,40.76404,-73.98933,Private room,90,7,0,No Review,0.00,1,23

### Verifying Missing Data Handling
#### After filling missing values, `df.isnull().sum()` is used to verify that there are no remaining missing entries in the dataset.

In [69]:
print(df.isnull().sum())

Id                                0
Name                              0
Host_Id                           0
Host_Name                         0
Neighbourhood_Group               0
Neighbourhood                     0
Latitude                          0
Longitude                         0
Room_Type                         0
Price                             0
Minimum_Nights                    0
Number_Of_Reviews                 0
Last_Review                       0
Reviews_Per_Month                 0
Calculated_Host_Listings_Count    0
Availability_365                  0
dtype: int64

In [71]:
df

,Id,Name,Host_Id,Host_Name,Neighbourhood_Group,Neighbourhood,Latitude,Longitude,Room_Type,Price,Minimum_Nights,Number_Of_Reviews,Last_Review,Reviews_Per_Month,Calculated_Host_Listings_Count,Availability_365
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19 00:00:00,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21 00:00:00,0.38,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,No Review,0.00,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05 00:00:00,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19 00:00:00,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming One Bedroom - Newly Renovated Rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,No Review,0.00,2,9
48891,36485057,Affordable Room In Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,No Review,0.00,2,36
48892,36485431,Sunny Studio At Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,No Review,0.00,1,27
48893,36485609,43Rd St. Time Square-Cozy Single Bed,30985759,Taz,Manhattan,Hell'S Kitchen,40.75751,-73.99112,Shared room,55,1,0,No Review,0.00,6,2
48894,36487245,Trendy Duplex In The Very Heart Of Hell'S Kitchen,68119814,Christophe,Manhattan,Hell'S Kitchen,40.76404,-73.98933,Private room,90,7,0,No Review,0.00,1,23

### Ensuring Correct Data Types
#### To ensure data consistency and facilitate analysis, we convert specific columns to their appropriate data types. The `pd.to_numeric()` function is used to convert numerical columns, while `pd.to_datetime()` handles date conversions.

In [73]:

df['Host_Id'] = pd.to_numeric(df['Host_Id'], errors='coerce')
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Minimum_Nights'] = pd.to_numeric(df['Minimum_Nights'], errors='coerce')
df['Last_Review'] = pd.to_datetime(df['Last_Review'], errors='coerce')

In [75]:
print(df.dtypes)

Id                                         int64
Name                                      object
Host_Id                                    int64
Host_Name                                 object
Neighbourhood_Group                       object
Neighbourhood                             object
Latitude                                 float64
Longitude                                float64
Room_Type                                 object
Price                                      int64
Minimum_Nights                             int64
Number_Of_Reviews                          int64
Last_Review                       datetime64[ns]
Reviews_Per_Month                        float64
Calculated_Host_Listings_Count             int64
Availability_365                           int64
dtype: object

### Handling Missing Values
#### To ensure data completeness and accuracy, missing values in critical columns are filled using appropriate strategies

In [81]:
df['Reviews_Per_Month'] = df['Reviews_Per_Month'].fillna(df['Reviews_Per_Month'].median())
df['Last_Review'] = df['Last_Review'].fillna(df['Last_Review'].min())

### Standardizing Categorical Data

#### To ensure consistency and readability, categorical columns are standardized by:

#### - Removing leading and trailing whitespace.
#### - Converting text to title case for uniform formatting.

In [85]:
df['Room_Type'] = df['Room_Type'].str.strip().str.title()
df['Neighbourhood_Group'] = df['Neighbourhood_Group'].str.strip().str.title()
df

,Id,Name,Host_Id,Host_Name,Neighbourhood_Group,Neighbourhood,Latitude,Longitude,Room_Type,Price,Minimum_Nights,Number_Of_Reviews,Last_Review,Reviews_Per_Month,Calculated_Host_Listings_Count,Availability_365
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private Room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire Home/Apt,225,1,45,2019-05-21,0.38,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private Room,150,3,0,2011-03-28,0.00,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire Home/Apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire Home/Apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming One Bedroom - Newly Renovated Rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private Room,70,2,0,2011-03-28,0.00,2,9
48891,36485057,Affordable Room In Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private Room,40,4,0,2011-03-28,0.00,2,36
48892,36485431,Sunny Studio At Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire Home/Apt,115,10,0,2011-03-28,0.00,1,27
48893,36485609,43Rd St. Time Square-Cozy Single Bed,30985759,Taz,Manhattan,Hell'S Kitchen,40.75751,-73.99112,Shared Room,55,1,0,2011-03-28,0.00,6,2
48894,36487245,Trendy Duplex In The Very Heart Of Hell'S Kitchen,68119814,Christophe,Manhattan,Hell'S Kitchen,40.76404,-73.98933,Private Room,90,7,0,2011-03-28,0.00,1,23

### Filtering Data Based on Price Range

#### To maintain relevant data and eliminate extreme outliers, the dataset is filtered to include only properties with a price between 10 and 1000.

In [91]:
df = df[(df['Price'] > 10) & (df['Price'] < 1000)]
df

,Id,Name,Host_Id,Host_Name,Neighbourhood_Group,Neighbourhood,Latitude,Longitude,Room_Type,Price,Minimum_Nights,Number_Of_Reviews,Last_Review,Reviews_Per_Month,Calculated_Host_Listings_Count,Availability_365
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private Room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire Home/Apt,225,1,45,2019-05-21,0.38,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private Room,150,3,0,2011-03-28,0.00,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire Home/Apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire Home/Apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming One Bedroom - Newly Renovated Rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private Room,70,2,0,2011-03-28,0.00,2,9
48891,36485057,Affordable Room In Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private Room,40,4,0,2011-03-28,0.00,2,36
48892,36485431,Sunny Studio At Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire Home/Apt,115,10,0,2011-03-28,0.00,1,27
48893,36485609,43Rd St. Time Square-Cozy Single Bed,30985759,Taz,Manhattan,Hell'S Kitchen,40.75751,-73.99112,Shared Room,55,1,0,2011-03-28,0.00,6,2
48894,36487245,Trendy Duplex In The Very Heart Of Hell'S Kitchen,68119814,Christophe,Manhattan,Hell'S Kitchen,40.76404,-73.98933,Private Room,90,7,0,2011-03-28,0.00,1,23

### Removing Duplicate Records

#### To ensure that the dataset contains only unique entries, duplicates based on the combination of `Id`, `Host_Id`, and `Name` were removed, keeping only the first occurrence.

In [96]:
df = df.drop_duplicates(subset=['Id', 'Host_Id', 'Name'], keep='first')
df

,Id,Name,Host_Id,Host_Name,Neighbourhood_Group,Neighbourhood,Latitude,Longitude,Room_Type,Price,Minimum_Nights,Number_Of_Reviews,Last_Review,Reviews_Per_Month,Calculated_Host_Listings_Count,Availability_365
0,2539,Clean & Quiet Apt Home By The Park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private Room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire Home/Apt,225,1,45,2019-05-21,0.38,2,355
2,3647,The Village Of Harlem....New York !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private Room,150,3,0,2011-03-28,0.00,1,365
3,3831,Cozy Entire Floor Of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire Home/Apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft By Central Park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire Home/Apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming One Bedroom - Newly Renovated Rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private Room,70,2,0,2011-03-28,0.00,2,9
48891,36485057,Affordable Room In Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private Room,40,4,0,2011-03-28,0.00,2,36
48892,36485431,Sunny Studio At Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire Home/Apt,115,10,0,2011-03-28,0.00,1,27
48893,36485609,43Rd St. Time Square-Cozy Single Bed,30985759,Taz,Manhattan,Hell'S Kitchen,40.75751,-73.99112,Shared Room,55,1,0,2011-03-28,0.00,6,2
48894,36487245,Trendy Duplex In The Very Heart Of Hell'S Kitchen,68119814,Christophe,Manhattan,Hell'S Kitchen,40.76404,-73.98933,Private Room,90,7,0,2011-03-28,0.00,1,23

### Final Check: Data Overview

In [101]:
print(df.info())  
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 47911 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Id                              47911 non-null  int64
 1   Name                            47911 non-null  object
 2   Host_Id                         47911 non-null  int64
 3   Host_Name                       47911 non-null  object
 4   Neighbourhood_Group             47911 non-null  object
 5   Neighbourhood                   47911 non-null  object
 6   Latitude                        47911 non-null  float64
 7   Longitude                       47911 non-null  float64
 8   Room_Type                       47911 non-null  object
 9   Price                           47911 non-null  int64
 10  Minimum_Nights                  47911 non-null  int64
 11  Number_Of_Reviews               47911 non-null  int64
 12  Last_Review                     47911 non-null  datetime64[ns]
 13  Reviews_Per_Month               47911 non-null  float64
 14  Calculated_Host_Listings_Count  47911 non-null  int64
 15  Availability_365                47911 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.2+ MB
None
                 Id       Host_Id      Latitude     Longitude         Price  \
count  4.791100e+04  4.791100e+04  47911.000000  47911.000000  47911.000000
mean   1.903990e+07  6.780139e+07     40.728846    -73.951818    137.698503
min    2.539000e+03  2.571000e+03     40.499790    -74.244420     11.000000
25%    9.491042e+06  7.881326e+06     40.689920    -73.982770     69.000000
50%    1.970058e+07  3.108663e+07     40.722810    -73.955410    105.000000
75%    2.914887e+07  1.074344e+08     40.763150    -73.935815    175.000000
max    3.648724e+07  2.743213e+08     40.913060    -73.712990    799.000000
std    1.096674e+07  7.864992e+07      0.054630      0.046255    103.918323

       Minimum_Nights  Number_Of_Reviews                    Last_Review  \
count    47911.000000       47911.000000                          47911
mean         5.709712          23.548893  2017-04-02 20:45:19.742856448
min          1.000000           0.000000            2011-03-28 00:00:00
25%          1.000000           1.000000            2016-05-13 00:00:00
50%          2.000000           5.000000            2019-01-07 00:00:00
75%          5.000000          24.000000            2019-06-19 00:00:00
max         40.000000         629.000000            2019-07-08 00:00:00
std          8.383486          44.814556                            NaN

       Reviews_Per_Month  Calculated_Host_Listings_Count  Availability_365
count       47911.000000                    47911.000000      47911.000000
mean            1.105460                        7.181566        111.499384
min             0.000000                        1.000000          0.000000
25%             0.040000                        1.000000          0.000000
50%             0.380000                        1.000000         43.000000
75%             1.620000                        2.000000        223.000000
max            58.500000                      327.000000        365.000000
std             1.606037                       33.126459        131.022709